<!DOCTYPE html>
<html>

<head>
  <!-- Referenced: https://www.npmjs.com/package/slick-carousel & https://kenwheeler.github.io/slick/ -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

  {{!-- <script src="https://web.engr.oregonstate.edu/~jinjo/final/ToDo.js" charset="utf-8" defer></script> --}}

  {{!-- <link rel="stylesheet" href="https://web.engr.oregonstate.edu/~jinjo/final/ToDo.css"> --}}

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/rawline" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/postTemplate.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>

</head>

<body>

  <header>
    <div class="header-image-container"a href="../index.html">
      <img src="https://web.engr.oregonstate.edu/~jinjo/final/ImagesColors/ilovecorvallis.jpg" alt="I love Corvallis Logo">
    </div>
    <div class="page-link">
      <p><a href="../index.html">Home</a></p>
    </div>
    <div class="page-link">
      <p><a href="location.html">Location</a></p>
    </div>
    <div class="page-link">
      <p><a href="../selfcare.html">Self Care</a></p>
    </div>

  </header>

 

    {{{body}}}  
 

  

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!--<script type="text/javascript" src="https://web.engr.oregonstate.edu/~jinjo/final/slick-1.8.1/slick/slick.min.js"></script>-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

</body>

</html>
<!DOCTYPE html>
